/**
 * 7.3.17 - Team Content Section
 */

.team-content-wrapper .hentry-inner {
    position: relative;
}

.team-content-wrapper .entry-meta {
    text-transform: captialize;
}

.team-section .social-links-menu {

    li {
        a {
            padding-left: 10px;
            padding-right: 10px;
        }
         &:first-child a {
            padding-left: 0;
         }   
    }
}