/**
 * 5.3 - Header
 */

.site-header {
	position: relative;
}

#site-header-menu,
.site-header-top-main {
	border-top: 1px solid;
}

.site-header-top-main {
	padding: 14px 0;
}

.site-branding {
	/* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
	padding: 21px 30px;
	margin: 0 auto;
	max-width: 620px;
	min-width: 0;
	width: auto;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.site-identity,
#primary-menu-wrapper {
	margin: 0 auto;
}

.site-identity {
	text-align: center;
}

.custom-logo {
	display: block;
	max-width: 250px;
	margin-bottom: 21px;
}

.site-header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: auto;
}

.site-title {
	font-size: 32px;
	font-size: 2rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: 6.5px;
	text-transform: uppercase;
	margin: 0;
}

.site-title a {
	text-decoration: none;
}

.site-description {
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 4px 0 0 0;
}

.custom-header {
	clear: both;
	position: relative;
}

.custom-header .post-thumbnail {
	margin: 0;
}

.has-header-video .custom-header-media .wp-custom-header img {
	display: none;
}

.custom-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.custom-header-content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 2;
    -webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.has-header-media:not(.home) .custom-header-content {
	position: relative;
	-webkit-transform: initial;
	-moz-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}

.custom-header-content-wrapper {
	margin: 0 auto;
}

.custom-header-content-wrapper,
 #feature-slider-section .entry-container {
	letter-spacing: 2.1px;
	width: 550px;
 }

.custom-header-content.content-align-left .custom-header-content-wrapper {
	margin: 0 auto 0 0;
}

.custom-header-content.content-align-right .custom-header-content-wrapper {
	margin: 0 0 0 auto;
}

.custom-header-content.text-align-left {
	text-align: left;
}

.custom-header-content.text-align-right {
	text-align: right;
}

.custom-header-content-wrapper .more-link,
.custom-header-content .site-header-text,
#feature-slider-section .entry-summary,
#feature-slider-section .entry-content {
	margin-top: 21px;
}

.site-header-logo,
.title-image {
	margin-bottom: 14px;
}

.has-header-media:not(.home) .custom-header-media {
	position: relative;
}

.header-media-text-disabled .custom-header-media .wp-custom-header img {
	display: block;
	position: relative;
}

.custom-header-overlay {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.custom-header .wrapper:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.custom-header .wp-custom-header img {
	display: none;
}

.header-media-text-disabled .custom-header .custom-header-media img {
	display: block;
}

.has-header-video .custom-header-media .wp-custom-header video,
.has-header-video .custom-header-media .wp-custom-header iframe {
	position: absolute;
	height: auto;
	left: 50%;
	max-width: 1000%;
	min-height: 100%;
	min-width: 100%;
	min-width: 100vw; /* vw prevents 1px gap on left that 100% has */
	width: auto;
	top: 50%;
	padding-bottom: 1px; /* Prevent header from extending beyond the footer */
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* For browsers that support 'object-fit' */
@supports ( object-fit: cover ) {
	.has-header-video .custom-header-media .wp-custom-header video,
	.has-header-video .custom-header-media .wp-custom-header iframe {
		height: 100%;
		left: 0;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		width: 100%;
	}
}

.custom-header-media .wp-custom-header-video-button { /* Specificity prevents .color-dark button overrides */
	border-radius: 50%;
	border: 2px solid;
	font-size: 18px;
	font-size: 1.125rem;
	justify-content: center;
	opacity: 0;
	overflow: hidden;
	padding: 7px 14px;
	position: absolute;
	left: 49%;
	bottom: 35px;
	z-index: 100;
	height: 44px;
	width: 44px;
}

.sticky-playlist-enabled .custom-header-media .wp-custom-header-video-button {
	bottom: 75px;
}

.header-media:hover .wp-custom-header-video-button {
	opacity: 1;
}

// Header Top

.site-header-top-main ul {
	margin: 0;
}

.site-header-top-main .contact-details li,
.site-header-top-main .top-navigation li a {
	padding: 7px 30px;
}

.site-header-top-main ul li {
	line-height: 1.5;
    list-style: none;
    margin: 0;
}

.site-header-top-main ul li > a {
	display: block;
}

.site-header-top-main ul li > .fa,
.site-header-top-main ul li > a .fa {
	margin-right: 5px;
}

.site-header-top-main .site-navigation a {
	text-transform: capitalize;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	padding: 0;
}
